.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1e;
  position: relative;
}

/* Centraliza o conteúdo principal quando o formulário está oculto */
.central-placeholder img {
  width: 260px;
  height: 260px;
}

/* Estilos para o wrapper do formulário */
.form-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #110F14;
  border-radius: 15px;
}

/* Botão de fechar no canto superior direito */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.close-button:hover {
  color: #ff6961;
}

.status-wrapper {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
